<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">
       
       <bean id="emailValidator" class="com.infotech.model.EmailValidator">
       <property name="isValidEmail" value="#{student.email matches '[\w]+.[\w]+@[\w]+.com'}"></property>
       </bean>  
        
       <bean id="student" class="com.infotech.model.Student">
       <property name="email" value="kishan.cs@gmail.com"></property>
       </bean>     
       </beans>